* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    touch-action: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    background-color: #30c0df;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    background-color: #30c0df;
    border: none;
    display: block;
    touch-action: none;
}

/* Mobile - fill entire screen */
@media screen and (max-width: 768px) {
    html, body {
        width: 100vw;
        height: 100vh;
        height: -webkit-fill-available; /* For iOS Safari */
    }
    
    body {
        padding: 0;
        margin: 0;
    }
    
    #canvas {
        width: 100vw !important;
        height: 100vh !important;
        height: -webkit-fill-available !important; /* For iOS Safari */
        position: fixed;
        top: 0;
        left: 0;
        object-fit: contain;
        object-position: center;
    }
}

/* Desktop styles - center with border */
@media screen and (min-width: 769px) {
    body {
        background-color: #30c0df;
    }
    
    #canvas {
        position: relative;
        border: 2px solid black;
        max-width: 90vw;
        max-height: 90vh;
    }
}